.regform {
/*position: absolute;*/
z-index: 5;
/*margin-top: 55px;*/
background-color: silver;
/*margin-left: 50%;
margin-right: 50%;*/
width: auto;
padding: 15% 6%;
height: 500px;
}

.controldivreg {
/*padding: 0% 5% !important;*/
margin-top: 10%;
}
